.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: rgba(122, 98, 202, 0.7);
    margin: 0px auto;
    padding: 20px 0px 20px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(122, 98, 202);
    color: floralwhite;
}

/*a{
    color: rgb(58, 16, 255);
}

a:hover{
    color: rgba(58, 16, 255, 0.5);
}*/

address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}